html {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #0d1117;
        color: #c9d1d9;
    }
}

body {
    padding: 3em;
}

h1,
h3,
p {
    text-align: center;
}

textarea {
    width: 100%;
}

textarea.text {
    height: 200px;
}

textarea.url {
    height: 40px;
}

button {
    width: 100px;
    margin-left: calc(50% - 50px);
    padding: 6px 10px;
    border-radius: 8px;
    background: #d1d1d1;
    font-size: 1.1em;
    font-weight: bold;
}

output {
    display: block;
    width: 100%;
    min-height: 100px;
    border: 1px solid #30363d;
    border-radius: 6px;
    white-space: pre-wrap;
    font-family: monospace;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1em;
    text-align: center;
}

:any-link {
    color: #8ec6e1
}

.flexed {
    display: flex;
    gap: 5%;
}

.half {
    width: 50%;
}
